p {
    color: rgb(172, 151, 37);

}

h1 {
    color: rgba(255, 255, 255, 0.644);
    text-align: center;
}

body {
    background-color: rgb(226, 188, 248);
    font-family: Papyrus, fantasy;
}

#page-title {
    text-shadow: 2px 2px black;
    margin: 40px;
}

.favorite-section {
    border: 5px black solid;
    margin: 5px;
    padding: 10px;
}

#favorite-music-name {
    background-color: aquamarine;
}

.favorite-image {
    border-radius: 8px;
  }

